body {
font-family: "Poppins", sans-serif;
background-color: #eef7ee;
color: #aa4099;
margin: 0;
}
header {
background-color: #feb6ff;
color: rgb(255, 252, 163);
text-align: center;
padding: 30px;
}
h1 {
font-size: 80px;
margin-bottom: 10px;
}
button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.tarjeta {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}